<?xml version="1.0" encoding="utf-8" ?> 
<settings>
	<!--   User application and configured property settings go here.-->
	<!-- To run tests, create a file named DataBase.config 
		 with your own value for datasource.
		 (don't included it in the solution and don't commit it in SVN)
	-->
	<add key="password" value="." />
	<add key="database" value="MyBatis" />
	<add key="directory" value="D:\用户目录\我的文档\hrd.mdb" />
	<add key="useStatementNamespaces" value="true" />
  <add key="provider" value="MySql" />
        <!--sqlServer2.0/sqlServer1.1-->
</settings>
