<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <properties embedded="database.config,BioA.SqlMaps"/>
    <settings>
        <setting useStatementNamespaces="true"/>
        <setting cacheModelsEnabled="true"/>
        <setting validateSqlMap="false"/>
    </settings>

    <!-- Optional if resource -->
    <providers embedded="providers.config,BioA.SqlMaps"/>
  
    <!-- ==== SqlClient configuration =========	-->
    <!-- Rem : If used via a DataAccess context, database tag will be ignored -->
    <database>
        <!-- Optional ( default ) -->
        <provider name="${provider}"/>
        <dataSource name="${database}" connectionString="
                                                    Host=localhost;
                                                    UserName=root;
                                                    Password=12345678;
                                                    Database=BioADB;
                                                    Port=3306;"/>
    </database>

    <sqlMaps>
        <!-- user via embedded-->
        <!--<sqlMap embedded="Map.SqlClient.Persons.xml,Service.SqlMaps"/>-->
        <sqlMap embedded="Map.UserInfo.xml,BioA.SqlMaps"/>
        <sqlMap embedded="CreateDatabase.CreateTables.xml,BioA.SqlMaps"/>
        <sqlMap embedded="Map.AssayProjectInfo.xml,BioA.SqlMaps"/>
        <sqlMap embedded="Map.ReagentInfo.xml,BioA.SqlMaps"/>
  </sqlMaps>
</sqlMapConfig>