<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <properties embedded="database.config,BioA.SqlMaps"/>
    <settings>
        <setting useStatementNamespaces="true"/>
        <setting cacheModelsEnabled="true"/>
        <setting validateSqlMap="false"/>
    </settings>

    <!-- Optional if resource -->
    <providers embedded="providers.config,BioA.SqlMaps"/>
  
    <!-- ==== SqlClient configuration =========	-->
    <!-- Rem : If used via a DataAccess context, database tag will be ignored -->
    <database>
        <!-- Optional ( default ) -->
        <!--<provider name="${provider}"/>
        <dataSource name="${database}" connectionString="
                                                    Host=localhost; 
                                                    UserName=root;
                                                    Password=12345678;
                                                    Database=bioadb;
                                                    Port=3306;"/>-->
      <provider name="${provider}"/>
      <dataSource name="${database}" connectionString="
                                                    server=localhost; 
                                                    uid=sa;
                                                    pwd=12345678;
                                                    database=bioadb;"/>
    </database>

    <sqlMaps>
        <!-- user via embedded-->
        <!--<sqlMap embedded="Map.SqlClient.Persons.xml,Service.SqlMaps"/>-->
        <sqlMap embedded="Map.UserInfo.xml,BioA.SqlMaps"/>
        <sqlMap embedded="CreateDatabase.CreateTables.xml,BioA.SqlMaps"/>
        <sqlMap embedded="Map.AssayProjectInfo.xml,BioA.SqlMaps"/>
        <sqlMap embedded="Map.ReagentInfo.xml,BioA.SqlMaps"/>
        <sqlMap embedded="Map.CombProjectInfo.xml,BioA.SqlMaps"/>
        <sqlMap embedded="Map.CalcProjectInfo.xml,BioA.SqlMaps"/>
        <!--<sqlMap embedded="Map.AntifoulingStrategyInfo.xml,BioA.SqlMaps"/>-->
        <sqlMap embedded="CreateDatabase.InitialDatabase.xml,BioA.SqlMaps"/>
        <sqlMap embedded="Map.LISCommunicateInfo.xml,BioA.SqlMaps"/>
        <sqlMap embedded="Map.DataConfig.xml,BioA.SqlMaps"/>
        <sqlMap embedded="Map.ReagentNeedleInfo.xml,BioA.SqlMaps"/>
        <sqlMap embedded="Map.EnvironmentParamInfoml.xml,BioA.SqlMaps"/>
        <sqlMap embedded="Map.QCMaintainInfo.xml,BioA.SqlMaps"/>
        <sqlMap embedded="Map.QCResultInfo.xml,BioA.SqlMaps"/>
        <sqlMap embedded="Map.QCTaskInfo.xml,BioA.SqlMaps"/>
        <sqlMap embedded="Map.DepartmentInfo.xml,BioA.SqlMaps"/>
        <sqlMap embedded="Map.LogInfo.xml,BioA.SqlMaps"/>
        <sqlMap embedded="Map.WorkAreaApplyTask.xml,BioA.SqlMaps"/>
        <sqlMap embedded="Map.CommonDataCheck.xml,BioA.SqlMaps" />
        <sqlMap embedded="Map.Calibratorinfo.xml,BioA.SqlMaps" />
        <sqlMap embedded="Map.EquipmentManage.xml,BioA.SqlMaps" />
        <sqlMap embedded="Map.PLCDataInfo.xml,BioA.SqlMaps" />
    </sqlMaps>
</sqlMapConfig>