<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="BioAServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="BioAServiceBehavior" name="BioA.Service.BioAService">
        <endpoint address="http://localhost:8080/BioAService" binding="wsDualHttpBinding" 
            bindingConfiguration="" contract="BioA.Service.IBioAService" >
          
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/BioAService" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>