<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <wsDualHttpBinding>
        <binding name="NewBinding0" closeTimeout="00:05:00" openTimeout="00:05:00"
          receiveTimeout="01:00:00" sendTimeout="00:05:00" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <reliableSession inactivityTimeout="00:030:00" />
          <security mode="None" />
        </binding>
      </wsDualHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="BioAServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="BioAServiceBehavior" name="BioA.Service.BioAService">
        <endpoint address="http://localhost:8080/BioAService" binding="wsDualHttpBinding"
          bindingConfiguration="NewBinding0" contract="BioA.Service.IBioAService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/BioAService" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>